.email {
  max-width: 48rem;
}

.email h1 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.email p:not(:last-child) {
  margin-bottom: 1rem;
}

.email a {
  color: dodgerblue;
  text-decoration: underline;
}